# Ignore virtual environment
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore logs or temp
*.log
*.tmp

# Ignore everything inside raw/Data except the readme file
data/raw/Data/*
!data/raw/Data/data_README.md

data/processed/*

data/results/*

# Ignore results folder
results/

# Ignore helper scripts
src/queries/bbox/helpers/